{
    "presets": [
        "@babel/env",
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
// "@babel/plugin-proposal-class-properties": "^7.8.3",
// "@babel/plugin-proposal-export-default-from": "^7.8.3",
// "@babel/preset-env": "^7.8.3",
// "@babel/preset-typescript": "^7.8.3",